.theme-dark {
	--bg-secondary: #192540;
	--bg-secondary-alt: #121928;

	--background-primary-rgb: 11, 14, 20;
	--text-accent: #6081ff;

	--interactive-accent-rgb: 56, 139, 253;
	--interactive-accent-hover: #3a75c9;

	--text-on-accent: var(--background-primary);
}

.theme-light {
	--bg-secondary: #7f8ad9;
	--bg-secondary-alt: #979fb5;

	--background-primary-rgb: 185, 195, 222;
	--text-accent: #4268af;
	--interactive-accent-rgb: 84, 110, 185;
	--interactive-accent-hover: #546eb9;

	--text-faint: #656a72;
	--text-muted-rgb: 85, 95, 104;
}

.theme-dark, .theme-light {
	--background-primary: rgb(var(--background-primary-rgb));
	--background-primary-alt: var(--background-primary);
	--background-secondary: var(--background-primary);
	--background-secondary-alt: var(--background-primary);
	--background-modifier-border: var(--background-primary);
	--background-modifier-form-field: var(--background-primary);
	--background-modifier-form-field-highlighted: var(--background-primary);
	--interactive-accent: rgb(var(--interactive-accent-rgb));
	--text-muted: rgb(var(--text-muted-rgb));
}

.titlebar {
	background: none;
	border: none;
}
.titlebar-inner { color: var(--text-normal); }
.titlebar-text { color: transparent; }

.nav-file-title {
	white-space: unset;
	width: unset;
}

.workspace-ribbon { border: none; }

.workspace-leaf.mod-active .view-header { border-bottom: none; }
@media (hover: hover) {
	.view-header:not(:hover) :is(.view-header-icon, .view-action) {
		color: transparent;
	}
}

.status-bar  {
	position: absolute;
	bottom: 0;
	right: 0;
	border: none;
	border-top-left-radius: 10px;
	padding-left: 0;
	background: rgba(var(--background-primary-rgb), 0.9);
}

.is-selected { background: var(--bg-secondary) !important; }

.checkbox-container:not(.is-enabled) {
	background: var(--bg-secondary-alt);
}

input[type='range'] { background: var(--bg-secondary); }

hr, .markdown-rendered hr { border-color: var(--text-accent); }
